.message-board {
    display: flex;
    flex-direction: column;
    &__header {}
    &__content {
        flex: 1;
        overflow-y: auto;
        margin: var(--space-md) 0;
    }
    &__input {
        display: flex;
        input {
            flex: 1;
            border-radius: 8px;
            padding: var(--space-sm) var(--space-md);
            outline: 0;
            border: 0;
            background-color: var(--color-background);
            margin-right: var(--space-sm);
        }
        button {
            width: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            border: 0;
            outline: 0;
            font-size: var(--font-l);
            background-color: var(--color-primary);
            color: var(--color-text);
        }
    }
}