@import "../../assets/styles/abstract/mixin";

.layout {
    display: flex;
    height: 100vh;
    &__sidebar {
        .side-bar {
            overflow-y: auto;
            height: 100%;
        }
    }
    &__content {
        flex: 1;
        padding: var(--space-xl);
        overflow-x: hidden;
        overflow-y: auto;
        @include small-down {
            padding: var(--space-md);
        }
    }
}