@import "../../assets/styles/abstract/mixin";

.side-bar {
    background-color: var(--color-white);    
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: var(--space-md);
    @include medium-down {
        width: 80px;
    }
    p {
        margin: 0;
        @include medium-down {
            display: none;
        }
    }
    .user-avatar {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-right: var(--space-md);
        @include medium-down {
            width: 45px;
            height: 45px;
            margin: 0;
        }
    }
    &__user {
        display: flex;
        align-items: center;
        margin-bottom: var(--space-sm);
        p {
            font-size: var(--font-l);
            font-weight: bold;
        }
    }
    &__top {
        flex: 1;
    }
    &__bottom {}
    &__item {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: var(--space-sm);
        background-color: var(--color-background);
        margin-bottom: var(--space-xs);
        border-radius: 16px;
        color: var(--color-text);
        @include medium-down {
            justify-content: center;
            &.side-bar__item--theme {
                svg {
                    display: none;
                }
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
        &--theme {
            padding: var(--space-xs) var(--space-sm);
            .theme-toggle {
                margin-left: auto;
                @include medium-down {
                    margin-left: 0;
                    .theme-toggle__button {
                        width: auto;
                        background-color: transparent;
                    }
                    .theme-toggle__icon {
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                    svg {
                        display: block;
                    }
                }
            }
        }
        svg {
            font-size: var(--font-l);
        }
        p {
            margin-left: var(--space-md);
        }
        &.active {
            color: var(--color-primary);
            font-weight: bold;
            svg {
                stroke-width: 1px;
            }
            p {
                color: var(--color-primary);
            }
        }
    }
}